body {
    
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;


    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 

    background-image: url('./images/image4.jpg');
    background-size: cover; /*görselin ekrana tam uymasını sağlar*/
    background-position: center; /*görselin ortalanmasını sağlar*/
    background-repeat: no-repeat; /*arka plan resminin tekrarlanmadan sadece bir kez görüntülenmesini sağla*/
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

    .completed {
    text-decoration: line-through; 
    font-weight: bold;
  }

  .card {
    background-color:rgb(240, 222, 196);
    margin: 10px;
    padding: 20px;
    width: 600px;
    border-radius: 30px;
  }
  
  .inputCard {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  #taskList {
    font-size: 20px;
    color: rgb(0, 0, 0);  
    list-style-type: none;
    padding: 0;   
    display: flex;
    flex-direction: column; 
  }    
  
  li {
    color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 10px;
    padding: 7px 0;
    border-bottom: 1px solid hsl(0, 0%, 100%);
    overflow: hidden; /*li dışına taşan öğeleri gizler*/ 
  }
  
  textarea {
    width: 100%;
    max-width: 100px; /*Metin alanının maksimum genişliği (li alanının max genişliği olacak)*/
    height: 50px;
    box-sizing: border-box;
  }
  
  h1 {
    color: rgb(54, 42, 20);
    text-align: center;
    font-size: 50px;
  }
  
  input {
    width: 300px;
    height: 20px;
  }
  
  .addButton {
  
    width: 27px;
    height: 27px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  
    font-size: 20px;
  }
  
  .inputCard {
    margin: 15px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  
  .taskMessage {
    font-size: 18px;
    text-align: center;
  }
  
  .complete {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 30px;
    width: 30px;
    font-weight: bold;    
    cursor: pointer;
    margin-right: 3px;
  
  }
  
  .delete {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 30px;
    width: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-left: px;
  
  }
  
  li .buttons {
    display: flex;
    gap: 5px;
  }

  @media screen and (max-width: 675px) {
    h1{
      font-size: 35px;
    }
    .card{
      width: 300px;
    }
  }

  @media screen and (max-width: 690px) {
    h1{
      font-size: 30px;
    }
    .card{
      width: 400px;
    }
    .addButton{
      width: 25px;
      height: 25px;
    }
    .taskMessage{
      font-size: 12px;
    }
    .delete {
      width: 25px;
      height: 25px;
    }
    .complete{
      width: 25px;
      height: 25px;
    }
    .taskItem {
      text-align: left;
      font-size: 9px;
    }
    .taskList {
      text-align: left;
    }

  }